body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, #ff9a9e, #fad0c4);
      font-family: Arial, sans-serif;
      text-align: center;
    }

.card-1 {
      background: white;
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.2);
      max-width: 420px;
      width: 90%;
}    
.card-2 {
      background: white;
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.2);
      max-width: 420px;
      width: 90%;
}    
 h1 {
      color: #e63946;
    }
p{
    font-size:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
#yesBtn {
    background-color: #ff4d6d;
    color: white;
}

#yesBtn:hover {
    transform: scale(1.1);
    background-color: #ff2f55;
}
#noBtn {
    background-color: #ffe3e8;
    color: #ff4d6d;
}

#noBtn:hover {
    background-color: #ffc2cf;
}